# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

epx
include/config.h
autom4te.cache
config.log
config.status
configure
extern/bin
extern/bison-2.3
extern/ffmpeg
extern/include
extern/lib
extern/openssl-0.9.8e
extern/ssl
src/Makefile
src/location.hh
src/m1_parse.cc
src/m1_parse.hh
src/stack.hh
tools/ddscomp/Makefile
tools/efnttool/bin
tools/efnttool/freetype-2.3.5
tools/efnttool/include
tools/efnttool/lib
tools/efnttool/share
